/******************************************************************
Stylesheet: Login Stylesheet

This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

For more info, check out the codex:
https://codex.wordpress.org/Customizing_the_Login_Form

******************************************************************/

/*
This is the Wordpress logo in the admin area.
You'll have to load your own images and mess
with the width and height.
*/
.login h1 a {
	background: url(../images/login-logo.png) no-repeat top center; /* make sure to replace this! */
}

/*
Retina login logo
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

  // you can put your 2x logo in here
  .login h1 a {
		background: url(../images/login-logo@2x.png) no-repeat top center; /* make sure to replace this! */
	}

} // end retina media query

